// MAIN CONTENT
// ========================================================================== */
.main__container {
  background: $background-color-default;
  max-width: 1080px;
  margin: auto;
}

.main__content {
    padding: 10px;
}
