// FOREGROUND COLORS
// ========================================================================== */
$foreground-color-default: #111;
$foreground-color-danger: #D76150;
$foreground-color-disabled: #DDD;

// BACKGROUND COLORS
// ========================================================================== */
$background-color-default: #FFF;
$background-color-primary: #F8F8F8;

// BORDERS
// ========================================================================== */
$border-color-default: #C5C5C5;

// THEME
// ========================================================================== */
$theme-color-primary: #1697c5;
$theme-color-success: #79a81e;

// LINKS
// ========================================================================== */
$link-color-default: #2BAEF2;
